@font-face {
    font-family: 'Inter';
    src:  url('@/assets/fonts/Inter/Inter-Regular.woff2') format('woff2'),
          url('@/assets/fonts/Inter/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
  
    @font-face {
    font-family: 'IBM Plex Mono';
    src: url('@/assets/fonts/IBM Plex Mono/IBMPlexMono-Bold.woff2') format('woff2'),
         url('@/assets/fonts/IBM Plex Mono/IBMPlexMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    }