html
{
  scroll-behavior: smooth;
}

* body{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color:black;
  background-color: #FFF5EA;
}

.cheap, 
.available, 
.worldwide{
  scroll-margin-top: 65px;
} /*Не работает при router-link 10 стр. TheHeader*/

 h1 {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 40px;
  line-height: 40px;
  color:black;
}

h2{
  font-size: 30px;
  font-weight: 400;
}

p{
  font-size: 20px;
  line-height: 22px;
  
}

@media(min-width: 768px){
  h1 {
    font-size: 64px;
    line-height: 68px;
  }

  p {
    font-size: 24px;
  }

.cheap, 
.available, 
.worldwide{
    scroll-margin-top: 190px;
  }/*Не работает при router-link 10 стр. TheHeader*/
}



